body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about {
  height: 500px;
  width: 100%;
  background-color: rgb(32, 37, 114);
  margin: auto;
}

.projects {
  height: 1000px;
  background-color: aliceblue;
  padding-top: 2%;
}

.contact {
  height: 300px;
  background-color: rgb(143, 144, 165);
  padding-top: 2%;
}

.resizedCard {
  width: 50rem;
  margin: auto;
}

.centered {
  margin: auto;
  margin-left: 25%;
}

.coolCard {
  margin: auto;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
}

.columns {
  width: 50%;
  height: 100%;
  margin-top: 15%;
}

.headshot {
  border-radius: 50%;
  width: auto;
  max-height: 100%;
  margin-left: 18%;
}

.description {
  color: white;
  margin-top: 8%;
}

.title {
  text-align: center;
}

.projectCard {
  margin: auto;
  width: 60%;
  height: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
}

.project {
  width: auto;
  max-height: 100%;
  padding: 15px;
}

.projectImage {
  width: auto;
  max-height: 100%;
  padding: 15px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.projectColumns {
  width: 40%;
  height: 100%;
  margin: 10% auto auto auto;
}

.projectImageColumns {
  width: 40%;
  height: 100%;
  margin: 10% auto auto auto;
}

/* .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
} */

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin: -10% auto auto 15%;
}

.projectImageColumns:hover .projectImage {
  opacity: 0.3;
  background-color: grey;
}

.projectImageColumns:hover .middle {
  opacity: 1;
}

.contactCard {
  margin: auto;
  width: 50%;
  height: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
}

.contactColumns {
  width: 40%;
  height: 100%;
  margin: 10% auto auto 10%;
}